footer {
    color: white;
    background-color: #111;
}

/* .footer_row:after {
    content: "";
    display: table;
    clear: both;
} */

.footer-container {
    display: flex;
    flex-wrap: wrap;
}

.footer-icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer .footer-column {
    flex-basis: 30%;

}

footer .footer-column {
    padding: 20px 0;
    flex-basis: 30%;

}

footer .maps {
    flex-basis: 40%;
}

footer .gmap_iframe {
    border-radius: 5px;
}

.crl-icon {
    background-color: #262626;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 5px;
}

footer .copyright {
    flex-basis: 100%;
    margin: 30px 0 20px 0;
    text-align: center;
}
