.back-container {
    background-color: black;
    min-height: 100vh;
    padding: 50px 0;
}


.sorry-statement {
    color: rgb(207, 207, 207);
}



.page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #111;
    padding: 50px 20px;
}

.page-container .video-list {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
}

