.show_row:after {
    content: "";
    display: table;
    clear: both;
}

/*.show_column {*/
/*    */
/*}*/

.video_part{
    float: left;
    padding-top: 3vh;
    padding-left: 4vw;
    width: 60%;
}

.comments_part{
    float: left;
    height: 70%;
    padding-top: 3vh;
    padding-left: 4vw;
    /*border: solid black 1px;*/
}
